$ds-space-01: 1px; // 1px
$ds-space-02: 2px; // 2px
$ds-space-04: 4px; // 4px
$ds-space-08: 8px; // 8px
$ds-space-12: 12px; // 12px
$ds-space-16: 16px; // 16px
$ds-space-20: 20px; // 20px
$ds-space-24: 24px; // 24px
$ds-space-32: 32px; // 32px
$ds-space-40: 40px; // 40px
$ds-space-48: 48px; // 48px
$ds-space-64: 64px; // 64px
$ds-space-80: 80px; // 80px
$ds-space-96: 96px; // 96px
$ds-space-128: 128px; // 128px
$ds-space-160: 160px; // 160px

$ds-spacing-data: (
  none: 0,
  space-01: $ds-space-01,
  space-02: $ds-space-02,
  space-04: $ds-space-04,
  space-08: $ds-space-08,
  space-12: $ds-space-12,
  space-16: $ds-space-16,
  space-20: $ds-space-20,
  space-24: $ds-space-24,
  space-32: $ds-space-32,
  space-40: $ds-space-40,
  space-48: $ds-space-48,
  space-64: $ds-space-64,
  space-80: $ds-space-80,
  space-96: $ds-space-96,
  space-128: $ds-space-128,
  space-160: $ds-space-160,
) !default;

$ds-negative-space-01: -1px; // -1px
$ds-negative-space-02: -2px; // -2px
$ds-negative-space-04: -4px; // -4px
$ds-negative-space-08: -8px; // -8px
$ds-negative-space-12: -12px; // -12px
$ds-negative-space-16: -16px; // -16px
$ds-negative-space-20: -20px; // -20px
$ds-negative-space-24: -24px; // -24px
$ds-negative-space-32: -32px; // -32px
$ds-negative-space-40: -40px; // -40px
$ds-negative-space-48: -48px; // -48px
$ds-negative-space-64: -64px; // -64px
$ds-negative-space-80: -80px; // -80px
$ds-negative-space-96: -96px; // -96px
$ds-negative-space-128: -128px; // -128px
$ds-negative-space-160: -160px; // -160px

$ds-negative-spacing-data: (
  none: 0,
  space-01: $ds-negative-space-01,
  space-02: $ds-negative-space-02,
  space-04: $ds-negative-space-04,
  space-08: $ds-negative-space-08,
  space-12: $ds-negative-space-12,
  space-16: $ds-negative-space-16,
  space-20: $ds-negative-space-20,
  space-24: $ds-negative-space-24,
  space-32: $ds-negative-space-32,
  space-40: $ds-negative-space-40,
  space-48: $ds-negative-space-48,
  space-64: $ds-negative-space-64,
  space-80: $ds-negative-space-80,
  space-96: $ds-negative-space-96,
  space-128: $ds-negative-space-128,
  space-160: $ds-negative-space-160,
) !default;
