@import "./0-base/variables";
@import "./0-base/spacing";
@import "./0-base/mixins";

@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
$ds-font-family: "Plus Jakarta Sans", sans-serif;
$ds-base-font-size: 16px;

// Data for each Type Style defined in the Style Sheet.
$ds-font-size: (
  heading1: 96px,
  heading2: 60px,
  heading3: 48px,
  heading4: 34px,
  heading5: 24px,
  heading6: 20px,
  subtitle1: 16px,
  subtitle2: 14px,
  body: $ds-base-font-size,
  bodySmall: 13px,
  link: $ds-base-font-size,
) !default;

// Data for each Type Style defined in the Style Sheet.
$ds-line-height: (
  heading1: normal,
  heading2: normal,
  heading3: normal,
  heading4: normal,
  heading5: 30px,
  heading6: 23px,
  subtitle1: 19px,
  subtitle2: 15px,
  body: 23px,
  bodySmall: 15px,
  link: $ds-base-font-size,
) !default;

// Data for each Type Style defined in the Style Sheet.
$ds-letter-spacing: (
  heading1: -1.5px,
  heading2: -0.5px,
  heading3: 0,
  heading4: 0.25px,
  heading5: 0,
  heading6: 0.15px,
  subtitle1: 0.15px,
  subtitle2: 0.1px,
  body: 0.7px,
  bodySmall: 0.7px,
  link: $ds-base-font-size,
) !default;

// Data for each Type Style defined in the Style Sheet.
$ds-font-weight: (
  bold: 600,
  semibold: 500,
  regular: 400,
  light: 300,
) !default;

.text-heading1 {
  @include ds-text-style-heading1;
}

.text-heading2 {
  @include ds-text-style-heading2;
}

.text-heading3 {
  @include ds-text-style-heading3;
}

.text-heading4 {
  @include ds-text-style-heading4;
}

.text-heading5 {
  @include ds-text-style-heading5;
}

.text-heading6 {
  @include ds-text-style-heading6;
}

.text-subtitle1 {
  @include ds-text-style-subtitle1;
}

.text-subtitle2 {
  @include ds-text-style-subtitle2;
}

.text-body {
  @include ds-text-style-body;
}

.text-body_small {
  @include ds-text-style-bodySmall;
}

.text-link {
  @include ds-text-style-link;
}
