@import './0-base/base.scss';

.button {
  @include ds-button-base;
}

.default {
  @include ds-button-base;
}

.primary {
  @include ds-button-primary;
}

.secondary {
  @include ds-button-secondary;
}

.danger {
  @include ds-button-danger;
}

.buttonLg {
  @include ds-button-lg-base;
}

.primaryLg {
  @include ds-button-lg-primary;
}

.secondaryLg {
  @include ds-button-lg-secondary;
}

.dangerLg {
  @include ds-button-lg-danger;
}

.buttonSpecial {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  border-radius: $ds-space-00 $ds-space-24 $ds-space-24 $ds-space-00;
  margin-left: $ds-negative-space-16;
  padding-right: $ds-space-48;
  color: $ds-med-gray;
  width: 100%;

  &:hover {
    color: ds-color(text, primary);
    background-color: $ds-primary-color-rgba;
  }
}

.board-actions {
  @include ds-button-base;
  display: flex;
}

.active {
  color: ds-color(text, white);
  background-color: ds-color(background, primary);
}
