@import "./0-base/base.scss";

.checkboxGroup {
  display: flex;
  align-items: center;
  position: relative;
  background-color: $ds-light-grey;
  padding: 12px;
  border-radius: 4px;
  font-weight: bold;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:hover {
    background-color: $ds-secondary-color-hover;
  }
}

.checkboxGroup .customCheckbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
  width: 20px;
  height: 20px;
}

.customCheckbox ~ .customCheckboxSpan {
  display: inline-block;
  background-color: $ds-white;
  border: 1px solid $ds-light-grey-lines;
  border-radius: $ds-space-04;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  cursor: pointer;
}

.customCheckbox:checked ~ .customCheckboxSpan {
  background-color: $ds-primary-color;
}

.customCheckbox:checked ~ .customCheckboxSpan:after {
  content: "\2713";
  color: $ds-white;
  position: relative;
  left: 4px;
  top: 0px;
  font-size: 13px;
}

.customCheckboxLabel {
  cursor: pointer;
  padding-left: 12px;
  @include ds-text-style-bodyBold;
}

.customCheckbox:checked ~ .customCheckboxLabel {
  text-decoration: line-through;
  opacity: 0.5;
}
