@import './0-base/base.scss';

.container {
  position: relative;
  min-width: 12rem;
}

.toggle {
  @include ds-form-input;
  padding: $ds-space-08 $ds-space-48 $ds-space-08 $ds-space-16;
  background: url('../public/dropdown-arrow.svg') no-repeat right $ds-space-16 center /
    $ds-space-12;
  text-align: left;
  color: $ds-black;
  cursor: pointer;

  &[aria-expanded='true'] .list {
    display: block;
  }
}

.list {
  position: absolute;
  z-index: 1000;
  display: none;
  min-width: 12rem;
  padding: $ds-space-08 $ds-space-16;
  margin: 0;
  color: $ds-med-gray;
  text-align: left;
  list-style: none;
  background-color: $ds-white;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid $ds-input-outline;
  border-radius: $ds-space-08;
  inset: 0px auto auto 0px;
  margin: 0px;
  transform: translate(0px, $ds-space-40);
}

.item {
  display: block;
  width: 100%;
  padding: $ds-space-12 0px;
  font-weight: 400;
  color: $ds-med-gray;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  @include ds-text-style-bodyBold;

  &:hover {
    color: $ds-black;
  }
}

.active {
  border-radius: $ds-space-04;
  border: 1px solid $ds-primary-color;
}
