@import './0-base/normalize';
@import './0-base/base.scss';

body {
  background-color: $ds-light-gray;
  height: 100%;
  @include ds-text-style-body;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.show {
  display: block !important;
}

h1 {
  @include ds-text-style-heading1;
}

h2 {
  @include ds-text-style-heading2;
}

h3 {
  @include ds-text-style-heading3;
}

h4 {
  @include ds-text-style-heading4;
}

h5 {
  @include ds-text-style-heading5;
}

h6 {
  @include ds-text-style-heading6;
}

a {
  @include ds-text-style-link;
}
