@import './0-base/normalize';
@import './0-base/base.scss';

body {
  background-color: $ds-light-gray;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.show {
  display: block !important;
}
